<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Ürün Genel Ortalama</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor = "let item of values;">
            <ion-label text-wrap>
                <ion-text color="primary">
                  <h3>{{item.store}}</h3>
                </ion-text>
                <p>{{item.maxprice}}</p>
                <ion-text color="secondary">
                  <p>{{item.minprice}}</p>
                </ion-text>
              </ion-label>
        </ion-item>  
      </ion-list>
</ion-content>
