<ion-header>
  <ion-toolbar>
    <ion-title>
      Fiyat Takip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button expand="full" size="large" color="primary" shape="round" ion-button icon-only (click)="scan()">
      <ion-icon name="barcode"></ion-icon>
    </ion-button>
  

  
    <ion-button expand="full" ion-button icon-only (click)="getById(newGuid())">
      <ion-icon name="arrow-down"></ion-icon>
    </ion-button>
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="globalsearch(data.id)">
          <ion-icon name="search"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="mysearch(data.id)">
          <ion-icon name="person"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>                                                                    
        <ion-label primary floating class="my-label">ID</ion-label>                                
        <ion-input [(ngModel)]="data.id"></ion-input>                                  
      </ion-item>  
  
      <ion-item-options side="end">
        <ion-item-option color="tertiary" (click)="graph(data.id)">
          <ion-icon name="podium"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>    
        
    <ion-item>                                                                    
      <ion-label primary floating class="my-label">Tanım</ion-label>                                
      <ion-input [(ngModel)]="data.name"></ion-input>                                  
    </ion-item>                                                                                                                             
    <ion-item>                                                                    
      <ion-label primary floating class="my-label">Tür</ion-label>                                
      <ion-select [(ngModel)]="data.type" okText="Tamam" cancelText="İptal">
        <ion-select-option value="food">Yiyecek</ion-select-option>
        <ion-select-option value="beverage">İçecek</ion-select-option>
        <ion-select-option value="fruitveg">Meyve-Sebze</ion-select-option>
        <ion-select-option value="electronics">Elektronik</ion-select-option>
      </ion-select>                                    
    </ion-item>  
    <ion-item>                                                                    
      <ion-label primary floating class="my-label">Marka</ion-label>                                
      <ion-select [(ngModel)]="data.brand" okText="Tamam" cancelText="İptal">
        <ion-select-option value="ulker">Ülker</ion-select-option>
        <ion-select-option value="eti">Eti</ion-select-option>
        <ion-select-option value="torku">Torku</ion-select-option>
        <ion-select-option value="unnamed">Markasız</ion-select-option>
      </ion-select>                                 
    </ion-item>   
    <ion-item>                                                                    
      <ion-label primary floating class="my-label">Market</ion-label>   
      <ion-select [(ngModel)]="data.store" okText="Tamam" cancelText="İptal">
        <ion-select-option value="migros">Migros</ion-select-option>
        <ion-select-option value="a101">A101</ion-select-option>
        <ion-select-option value="bim">BİM</ion-select-option>
        <ion-select-option value="carrefour">Carrefor</ion-select-option>
        <ion-select-option value="sok">Şok</ion-select-option>
        <ion-select-option value="kipa">Kipa</ion-select-option>
        <ion-select-option value="onur">Onur</ion-select-option>
        <ion-select-option value="happy">Happy</ion-select-option>
        <ion-select-option value="other">Diğer</ion-select-option>
      </ion-select>                                                            
    </ion-item>   
    <ion-item>                                                                    
      <ion-label primary floating class="my-label">Fiyat</ion-label>                                
      <ion-input inputmode="numeric" [(ngModel)]="data.price"></ion-input>                                  
    </ion-item>   

    
      <ion-button expand="full" size="large" color="secondary" shape="round" ion-button icon-only (click)="addOrUpdate()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    
</ion-content>